@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&family=Rubik+Moonrocks&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #868e96;
  position: relative;
}
/* NOTE: GENERAL  */
a {
  text-decoration: none;
}

/* NOTE:NAVIGATION BAR  */
.brand {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.5rem;
  color: #de6035;
}
.logo {
  width: 5rem;
}
#toggler-icon {
  background-image: url("../img/toggle-icon.png");
  background-size: 2.5rem;
  background-position: center;
  border: none;
}
.account {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
}

/* NOTE: HOMEPAGE:  */
.cover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/home-cover2.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  color: #fff;
}
a.go-filter-page {
  color: #549490;
}

.cover-page .btn li a:hover {
  color: #fff;
  background-color: #549490;
}

h1.cover-title {
  text-shadow: 3px 3px 6px #030303;
}
