@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&family=Rubik+Moonrocks&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #868e96;
  position: relative;
}

/* NOTE: GENERAL  */
a {
  text-decoration: none;
}

/* NOTE: NAVIGATION BAR  */
.brand {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.5rem;
  color: #de6035;
}
.logo {
  width: 5rem;
}
#toggler-icon {
  background-image: url("../img/toggle-icon.png");
  background-size: 2.5rem;
  background-position: center;
  border: none;
}
.account {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  margin-left: 2rem;
}

/* NOTE: RESTAURANT PAGE:  */
.restaurant-image {
  object-fit: cover;
  max-height: 100%;
}

.detail-restaurant {
  padding-left: 1rem;
  border: #549490 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.other-button button,
.other-button li {
  background-color: #549490;
  color: white;
  border-radius: 10rem;
}
.page-url {
  text-decoration: none;
  color: white;
}
.map-location {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  background-color: #549490;
  padding-right: 0rem;
  color: white;
}

/* REVIEW CONTAINER */
.user-identify {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 10rem;
}

/* RATING ICON */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: "FontAwesome";
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #549490;
}
.icon {
  height: 3rem;
}
