@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;

  color: #868e96;
  font-size: 1.5rem;
  position: relative;
}
.homepage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/home-cover1.png); */
  background-image: url(./img/home-cover2.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.icon {
  border: none;
}
.search-top-pick .icon {
  width: 3rem;
}
.search-filter-box {
  align-items: start;
  gap: 1rem;
}

.search-option-container,
.filter-catogery-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 34, 34, 0.6);
  color: white;
}
.search-option-item {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}
.search-option-item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn-submit {
  display: inline-block;
}
.hidden {
  /* display: none; */
}

h1.cover-title {
  text-shadow: 3px 3px 6px #030303;
}
ul li a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #030303;
}
/* NOTE: Filter Page:  */

.filter-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 207, 207);
  color: #fff;
}

.search-option-container,
.filter-catogery-container {
  height: 20rem;
  overflow-y: scroll;
}

.see-map {
  min-height: 20rem;
  background-color: #549490;
  padding-right: 0rem;
}

/* RESTAURANT PAGE:  */
.restaurant-content {
  width: 100%;
}

.restaurant-image {
  object-fit: cover;
  max-height: 100%;
}
.user-image {
  object-fit: cover;
  max-width: 100%;
  border-radius: 10rem;
}
.restaurant-card {
  cursor: pointer;
}
.detail-restaurant {
  padding-left: 1rem;
  border: #549490 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.other-button button,
.other-button li {
  background-color: #549490;
  color: white;
  border-radius: 10rem;
}
.page-url {
  text-decoration: none;
  color: white;
}

/* REVIEW CONTAINER */

.user-identify {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-image {
  /* min-width: 5rem;
  min-height: 5rem; */
  width: 8rem;
  height: 8rem;
}
